{% extends "AppPFEtrade/padre.html" %}

{% load static %}

{% block titulo %}  

<h1> What's PFE.trade? </h1> <br>

<p>'The excellence of time manage, when time spills money comes. Our unique goal is to bring the
    possibility to stock-holders all around the world, to trade their holding in real time.'
<br><br>
    PFE.trade has the responsibility of making easy for both parts of a trade the comunication.
    With the usage of mail directions as a link between parties, me supply customers with our own positions.
<br><br>
    How ever, each seller customer can offer buyers an specific position at a specific price.
<br><br>
    That's how market is made, two sides with a same target.
</p>


{% endblock %}